<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.jwt.JwtMybatisApplication.repository.mgrepository.MessOwnerRepository">

    <resultMap id="MessOwnerResultMap" type="com.demo.jwt.JwtMybatisApplication.model.mgmodel.MessOwnerEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="contactNumber" column="contact_number" />
        <result property="messId" column="mess_id" />
    </resultMap>

    <insert id="save" parameterType="com.demo.jwt.JwtMybatisApplication.model.mgmodel.MessOwnerEntity"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO mess_owner (name, contact_number, mess_id)
        VALUES (#{name}, #{contactNumber}, #{messId})
    </insert>

    <select id="findAll" resultMap="MessOwnerResultMap">
        SELECT id, name, contact_number, mess_id
        FROM mess_owner
    </select>

    <select id="findOwnerByMessId" resultMap="MessOwnerResultMap" parameterType="long">
        SELECT * FROM mess_owner WHERE mess_id = #{messId}
    </select>

</mapper>
